ENVIRONMENT=local
KAFKA_BROKERS=kafka:19092
KAFKA_TOPIC=email-notifications
KAFKA_GROUP_ID=notification-service
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=example@gmail.com
SMTP_PASSWORD=password
