ENVIRONMENT=test

KAFKA_TOPIC=email-notifications
KAFKA_GROUP_ID=notification-service-test

SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=test@example.com
SMTP_PASSWORD=test

LOG_LEVEL=-4
LOG_HANDLER=text
